[build]
{% case board -%}
  {%- when "Digispark + Micronucleus" -%}
    target = "avr-specs/avr-attiny85.json"
  {%- when "Adafruit Trinket" -%}
    target = "avr-specs/avr-attiny85.json"
  {%- when "Adafruit Trinket Pro" -%}
    target = "avr-specs/avr-atmega328p.json"
  {%- when "Arduino Leonardo" -%}
    target = "avr-specs/avr-atmega32u4.json"
  {%- when "Arduino Mega 2560" -%}
    target = "avr-specs/avr-atmega2560.json"
  {%- when "Arduino Mega 1280" -%}
    target = "avr-specs/avr-atmega1280.json"
  {%- when "Arduino Nano" -%}
    target = "avr-specs/avr-atmega328p.json"
  {%- when "Arduino Nano New Bootloader" -%}
    target = "avr-specs/avr-atmega328p.json"
  {%- when "Arduino Uno" -%}
    target = "avr-specs/avr-atmega328p.json"
  {%- when "SparkFun ProMicro" -%}
    target = "avr-specs/avr-atmega32u4.json"
  {%- when "Nano168" -%}
    target = "avr-specs/avr-atmega168.json"
{%- endcase %}

[target.'cfg(target_arch = "avr")']
{% case board -%}
  {%- when "Digispark + Micronucleus" -%}
    runner = "micronucleus-runner"
  {%- when "Adafruit Trinket" -%}
    runner = "ravedude trinket"
  {%- when "Adafruit Trinket Pro" -%}
    runner = "ravedude trinket-pro"
  {%- when "Arduino Leonardo" -%}
    runner = "ravedude leonardo"
  {%- when "Arduino Mega 2560" -%}
    runner = "ravedude mega2560 -cb 57600"
  {%- when "Arduino Mega 1280" -%}
    runner = "ravedude mega1280 -cb 57600"
  {%- when "Arduino Nano" -%}
    runner = "ravedude nano -cb 57600"
  {%- when "Arduino Nano New Bootloader" -%}
    runner = "ravedude nano-new -cb 57600"
  {%- when "Arduino Uno" -%}
    runner = "ravedude uno -cb 57600"
  {%- when "SparkFun ProMicro" -%}
    runner = "ravedude promicro"
  {%- when "Nano168" -%}
    runner = "ravedude nano168 -cb 57600"
{%- endcase %}

[unstable]
build-std = ["core"]
{%- comment %}
# vim: ft=toml.jinja2
{% endcomment %}
